body {
  background-color: #424242;
  margin: auto;
  max-width: 1200px;
  font-family: "Roboto", sans-serif;
}

i {
  color: coral;
}

.header {
  text-align: center;
  background: #424242;
  color: rgb(233, 233, 233);
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #545454;
}

.navbar a {
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: rgb(233, 233, 233);
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: rgb(233, 233, 233);
  color: black;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.side {
  display: flex;
  flex-direction: column;
  flex: 30%;
  color: rgb(233, 233, 233);
}

.main {
  display: flex;
  flex-direction: column;
  flex: 70%;
}

.card, .pic-card{
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #ddd;
  background-color: #333333;
}

.pic-card {
  display: flex;
  justify-content: center;
  padding-bottom: 0rem;
}

.footer {
  text-align: center;
  background-color: #545454;
}



@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}