body {
  margin: auto;
  max-width: 1200px;
  height: 100%;
  background-color: rgb(30, 30, 30);
}

i {
  color: coral;
}

.page-container {
  background-color: #424242;
  margin: auto;
  max-width: 1200px;
  font-family: "Roboto", sans-serif;

  border: 0.25rem, solid, rgba(90, 57, 31, 0.18);

  background-image: url(../assets/neon-background.jpg);
  background-size: cover;  
}

.header {
  display: flex;
  text-align: center;
  justify-content: center;
  background: #424242;

  border-radius: 0.5rem;

  background: rgba(45, 39, 35, 0.57);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.5px);
  border: 1px solid rgba(90, 57, 31, 0.18);
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #545454;

  border-radius: 0.5rem;

  background: rgba(90, 57, 31, 0.57);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.5px);
  border: 1px solid rgba(90, 57, 31, 0.18);
}

.navbar a {
  margin: 0.25rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: rgb(233, 233, 233);
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: rgb(233, 233, 233);
  color: black;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.side {
  display: flex;
  flex-direction: column;
  flex: 30%;
  color: rgb(233, 233, 233);
}

.main {
  display: flex;
  flex-direction: column;
  flex: 70%;
}

.card, .pic-card{
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  color: #ddd;
  background-color: #333333;

  background: rgba(90, 57, 31, 0.57);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.5px);
  border: 1px solid rgba(90, 57, 31, 0.18);
}

.pic-card {
  display: flex;
  justify-content: center;
  padding-bottom: 0rem;
}

.footer {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #545454;

  border-radius: 0.5rem;

  background: rgba(45, 39, 35, 0.57);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.5px);
  border: 1px solid rgba(90, 57, 31, 0.18);
}



@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}