body {
  background-color: #333333;
  margin: auto;
  max-width: 1200px;
  font-family: "Roboto", sans-serif;
}

i {
  color: coral;
}

.header {
  padding: 60px;
  text-align: center;
  background: #2d2c2c;
  color: rgb(233, 233, 233);
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #545454;
}

.navbar a {
  color: rgb(233, 233, 233);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: rgb(233, 233, 233);
  color: black;
}

.row {  
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 30%;
  color: rgb(233, 233, 233);
  background-color: #424242;
  padding: 20px;
}

.main {
  flex: 70%;
  background-color: #424242;
  padding: 20px;
}

.card {
  color: #ddd;
  background-color: #333333;
}

.footer {
  padding: 20px;
  text-align: center;
  background-color: #545454;
}



@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}